.toolbar-button:hover {
  transform: scale(1.1) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3) !important;
}

.toolbar-button:active {
  transform: scale(0.95) !important ;
}

.play-button:hover {
  background-color: #4caf50 !important;
  color: white !important;
}

.stop-button:hover {
  background-color: #ff5252 !important;
  color: white !important;
}

.save-button:hover {
  background-color: #2196f3 !important;
  color: white !important;
}

.load-button:hover {
  background-color: #ff9800 !important;
  color: white !important;
}

.clear-button:hover {
  background-color: #D22B2B !important;
  color: white !important;
}

.pencil-button:hover {
  background-color: #333333 !important;
  color: white !important;
}

.blue-pencil-button:hover {
  background-color: #1e88e5 !important;
  color: white !important;
}

.line-button:hover {
  background-color: #9c27b0 !important;
  color: white !important;
}

/* bottom toolbar */
.toolbar-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 12px 0;
  z-index: 10;

  transition:
    transform 0.45s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity   0.3s ease;
}

/* top toolbar */
.toolbar-container-top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
  padding: 12px;
  z-index: 10;

  transition:
    transform 0.45s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity   0.3s ease;
}

.hover-hint {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  font-weight: bold;
  color: #aaa;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
}